<div class="container" [ngClass]="menuSideView ? 'desableScrol' : ''">
  <app-header
    (currantOutpu)="getEmitedPlanet($event)"
    (menuSide)="isMenuMobileToggle($event)"
  ></app-header>
  <div class="planet">
    <div class="planet__resum">
      <ul class="viewMode">
        <li
          class="viewMode__item"
          *ngFor="let btn of currentView.btns; let i = index"
          (click)="selecViewMode(btn.name)"
          [ngClass]="btn.selected ? 'selected' : ''"
        >
          {{ getLastWord(btn.text) }}
          <span
            class="bare"
            [ngClass]="'bare--' + currentView.name | lowercase"
          ></span>
        </li>
      </ul>
      <div
        class="image"
        [ngClass]="currentView.btns[2].isActive ? 'geology' : ''"
      >
        <img
          [src]="currentPlanet.images.planet"
          alt=""
          *ngIf="currentView.btns[2].isActive"
        />
        <img [src]="currentView.img" alt="" />
      </div>
      <div class="description">
        <div>
          <div class="title">{{ currentView.name }}</div>
          <div class="text">{{ currentView.description }}</div>
          <div class="source">
            <span>Sources : </span>
            <a [href]="currentView.source">
              Wikipedia <i class="bi bi-sign-turn-right-fill"></i>
            </a>
          </div>
        </div>
        <ul class="btns">
          <li
            class="btns__item"
            *ngFor="let btn of currentView.btns; let i = index"
            (click)="selecViewMode(btn.name)"
            [ngClass]="btn.selected ? 'selected ' + currentView.name : ''"
          >
            <span class="number">01</span>
            <span class="contentName">{{ btn.text }}</span>
          </li>
        </ul>
      </div>
    </div>
    <ul class="planet__detail">
      <li class="item" *ngFor="let detail of currentView.parameters">
        <span class="text">{{ detail.text }}</span>
        <span class="value">{{ detail.value }}</span>
      </li>
    </ul>
  </div>
</div>
